@import "tailwindcss";

/* Временно */
body {
  background: #ffffff;
  color: white;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

/* Плавные переходы для всех элементов */
* {
  scroll-behavior: smooth;
}

/* Убираем резкие переходы */
html {
  scroll-behavior: smooth;
}

